/*-- scss:defaults --*/

// https://ucsb-meds.github.io/customizing-quarto-websites/#/title-slide

// colores

$cr: #EE4121;
$ca: #FFC10E;
$cn: #000000;
$cb: #FFFFFF;
$cg: #0F0F0F;

// Ubuntu
@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

// Friz Quadrata Bold
// @import 'https://db.onlinewebfonts.com/c/9d476c89b917332f9a199fe50bbeb161?family=Friz+Quadrata+Bold';
// @import url('https://fonts.cdnfonts.com/css/friz-quadrata');
@import url('https://fonts.cdnfonts.com/css/friz-quadrata-std');

// Nerd Font
@import "https://www.nerdfonts.com/assets/css/webfont.css";

// JetBrains Mono
@import url('https://fonts.googleapis.com/css2?family=Gloock&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/*-- scss:rules --*/

// links de color blanco ($cb)
a {
  color: $cb;
  text-decoration-color: transparent
}

// cuando paso el mouse sobre un link, pasa de blanco ($cb) a amarillo ($ca)
a:hover {
    color: $ca;
    text-decoration-color: $cr;
}

// cambiar de color al pasar el mouse sobre los encabezados
.header:hover {
  background-color: $cg;
}

// remuevo el título
.title {
    display: none;
}

// https://glin.github.io/reactable/articles/custom-sort-icons.html#custom-sort-icons-using-css-pseudo-elements
// personalizo la flechita que ordena la columna

.rt-th[aria-sort=descending] .rt-sort-left:after, .rt-th[aria-sort=descending] .rt-sort-right:after {
    content: "\2193";
    color: $cr;
}

.rt-th[aria-sort=ascending] .rt-sort-left:after, .rt-th[aria-sort=ascending] .rt-sort-right:after {
    content: "\2193";
    color: $cr;
}


// acomodar verticalemte el contenido de una columna
// https://github.com/quarto-dev/quarto-cli/discussions/1386#discussioncomment-3851908
.v-center-container {
  display: flex !important;
  justify-content: center;
  align-items: center;
  height: 90%;
}